DB_USER=
DB_PASS=
DB_NAME=

DATABASE_URL=mongodb://${DB_USER}:${DB_PASS}@db:27017/${DB_NAME}?authSource=admin

USER_AUTH_SERVICE_URL=http://user-auth-service:8000

JWT_SECRET=
JWT_ALGORITHM=HS256
JWT_EXPIRY_MINUTES=60

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=
RABBITMQ_PASS=
