# --- JWT CONFIGURATION ---
JWT_SECRET=
JWT_ALGORITHM=HS256
JWT_EXPIRY_MINUTES=60

# --- MAIL CONFIGURATION ---
EMAIL=
PASS= 
APP_PASSWORD=

# --- AWS S3 CONFIGURATION ---
AWS_REGION = 
S3_BUCKET_NAME = 
AWS_ACCESS_KEY_ID = 
AWS_SECRET_ACCESS_KEY = 

# --- RABBITMQ CONFIGURATION ---
MQ_HOST=rabbitmq
MQ_PORT=5672
MQ_USER=
MQ_PASS=

# --- DATABASE CONFIGURATION ---
DB_USER=
DB_PASS=

# --- USER AUTH CONFIGURATION ---
USER_DB_NAME=userauthdb
USER_DB_URL=postgresql+psycopg2://${DB_USER}:${DB_PASS}@auth-db:5432/${USER_DB_NAME}
USER_AUTH_SERVICE_URL=http://user-auth-service:8000

# --- MESSAGE SERVICE CONFIGURATION ---
MESSAGE_DB_NAME=messagedb
MESSAGE_DB_URL=mongodb://${DB_USER}:${DB_PASS}@messaging-db:27017/${MESSAGE_DB_NAME}?authSource=admin

# --- NOTIFICATION SERVICE CONFIGURATION ---
NOTIFICATION_DB_NAME=notificationdb
NOTIFICATION_DB_URL=mongodb://${DB_USER}:${DB_PASS}@notification-db:27017/${NOTIFICATION_DB_NAME}?authSource=admin

# --- EVENTS/SOCIETIES SERVICE CONFIGURATION ---
EVENTS_DB_NAME=eventsdb
EVENTS_DB_URL=postgresql+psycopg2://${DB_USER}:${DB_PASS}@events-services-db:5432/${EVENTS_DB_NAME}
